<nav>
  <ul>
    <li>
      {{#link-to 'index'}}Standup{{/link-to}}
    </li>
    {{#if loggedIn}}
      <li>
        {{#link-to 'authenticated.dashboard'}}Dashboard{{/link-to}}
      </li>
    {{/if}}
    <li>
      {{#link-to 'about'}}About{{/link-to}}
    </li>
    {{#if guest}}
      <li>
        {{#link-to 'pricing'}}Pricing{{/link-to}}
      </li>
      <li>
        {{#link-to 'login'}}Login{{/link-to}}
      </li>
      <li>
        {{#link-to 'register'}}Register{{/link-to}}
      </li>
    {{/if}}
    {{#if loggedIn}}
      <li>
        <a {{action 'logout'}}>Logout</a>
      </li>
    {{/if}}
  </ul>
</nav>
