<nav class="nav">
  <ul class="nav__section">
    <li class="nav__item nav__logo">
      {{#link-to 'index' class="nav__link"}}Epic Standups{{/link-to}}
    </li>
  </ul>
  <ul class="nav__section">
    {{#if loggedIn}}
      <li class="nav__item">
        {{#link-to 'authenticated.dashboard' class='nav__link'}}Dashboard{{/link-to}}
      </li>
    {{/if}}
    <li class="nav__item">
      {{#link-to 'about' class='nav__link'}}About{{/link-to}}
    </li>
    {{#if guest}}
      <li class="nav__item">
        {{#link-to 'pricing' class='nav__link'}}Pricing{{/link-to}}
      </li>
      <li class="nav__item">
        {{#link-to 'login' class='nav__link'}}Login{{/link-to}}
      </li>
      <li class="nav__item">
        {{#link-to 'register' class='nav__link'}}Register{{/link-to}}
      </li>
    {{/if}}
    {{#if loggedIn}}
      <li class="nav__item">
        <a {{action 'logout' class='nav__link'}}>Logout</a>
      </li>
    {{/if}}
  </ul>
</nav>
