<nav>
  <ul>
    <li>
      {{#if session.isAuthenticated}}
        {{#link-to 'authenticated.start'}}Standup{{/link-to}}
      {{else}}
        {{#link-to 'application'}}Standup{{/link-to}}
      {{/if}}
    </li>
    <li>
      {{#if session.isAuthenticated}}
        <p>Hi, Oliver <button {{action 'logout'}}>logout</button></p>
      {{else}}
        <p>{{#link-to 'login'}}Login{{/link-to}}</p>
      {{/if}}
    </li>
    <li>
      <p>{{#link-to 'authenticated.debug'}}Debug{{/link-to}}</p>
    </li>
  </ul>
</nav>
