<h1>Start Page</h1>
<button {{action onNewStandupRequested}}>Create New Standup</button>
<h2>Recent Standups</h2>
<ul>
{{#each standups as |standup|}}
<li>{{#link-to 'standup' standup.id}}Standup {{standup.id}}{{/link-to}} <button {{action onDeleteStandupRequested standup}}>Delete</button></li>
{{/each}}
</ul>
