// Primary Colors
$primary-color: #EE4B6A;
$black: #331832;
$grey: #F2F2F2;
$white: #FFFFFF;

// Secondary Colors
$dark-grey: darken( $grey, 60% );

$text-color: $black;
$text-light-color: $white;
$background-color: $white;
$background-dark-color: $grey;



@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');
$logo-font: 'Permanent Marker';
$text-font: 'Roboto';
$summary-font: "Arial", "Helvetica", sans-serif;
$text-size: 1em;

$space-small: 8px;
$space-medium: $space-small*1.5;
$space-large: $space-small*2;

$rounding-small: 5px;
$rounding-large: 10px;

body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $text-font;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $background-color;
  padding: 0 $space-medium;
}

footer {
  padding: $space-medium;
  text-align: right;
}

main {
  flex: 1;
  padding: $space-medium;
}

footer {
  background-color: $background-color;
}

.standup-page {
  &--blurred {
    filter: blur(3px) grayscale(50%);
    pointer-events: none;
  }
}

.feedback {
  &__input {
    resize: none;
    display: block;
    margin-bottom: $space-small;
    width: 100%;
    height: 200px;
    width: 400px;
  }
}

.modal {
  background: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $space-medium;
  border: 1px solid $dark-grey;
  border-radius: $rounding-large;
  &__content {
    overflow-y: auto;
    max-height: calc(100vh - 210px);
    font-family: $summary-font;
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.25em;
    }
    h3 {
      font-size: 1em;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $primary-color;
  &__item {
    display: inline-block;
    text-decoration: none;
    margin-right: $space-small;
  }
  &__section {
    padding: 0;
  }
  &__logo {
    font-family: $logo-font;
  }
  &__link {
    text-decoration: none;
    color: $primary-color;
  }
}

.btn {
  background-color: $background-color;
  border-radius: $rounding-small;
  text-align: center;
  text-decoration: none;
  padding: $space-small;
  outline: none;
  cursor: pointer;
  &--cta {
    background-color: $primary-color;
    color: $text-light-color;
  }
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.standup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  &__add {
    height: 324px;
    width: 200px;
  };
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-add {
  width: 200px;
  min-height: 300px;
  margin-right: $space-medium;
  margin-bottom: $space-medium;
}

.card {
  background-color: $background-dark-color;
  padding: $space-medium;
  margin-right: $space-medium;
  margin-bottom: $space-medium;
  border-radius: $rounding-large;
  width: 200px;
  min-height: 300px;
  &__title {
    -webkit-appearance: none;
    border: none;
    background-color: $grey;
    color: $dark-grey;
  }
  &__title:hover:not(:focus) {
    border-bottom: 1px dotted $dark-grey;
  }
  &__title:focus {
    color: $primary-color;
    outline: none;
  }
  &__section {
    color: $dark-grey;
  }
}

.entry {
  &__input {
    background-color: inherit;
    color: $dark-grey;
    border: none;
    border-bottom: 1px dotted $dark-grey;
    width: 100%;
    outline: none;
    font-size: $text-size;
  }
  &__value {
    color: $dark-grey;
    border-bottom: 1px dotted $dark-grey;
    width: 100%;
    font-size: $text-size;
    margin: 0;
  }
}

.upsell {
  color: $dark-grey;
  margin: 0;
  font-size: 0.75em;
}
