<div class='container--blog'>
  <h1>Hello</h1>
  <p>EpicStandups is an opinionated tool for running lean, mean standups. It is built from the experiences I've had from the 1000+ standups <a href="https://www.linkedin.com/in/owilkie">in my career thus far</a>. Roughly, {{standupCount}} standups have been run using this site.</p>
  <p>Its currently under active development. No sign up is necessary, and your standup notes are not stored elsewhere.</p>
  <h2>Whats New</h2>
  {{#each changeLogEntries as |entry|}}
    <p>
      {{entry.date}}
      {{entry.description}}
    </p>
  {{/each}}
  <h2>In Development</h2>
  <p>{{#link-to 'login'}}Accounts{{/link-to}}</p>
</div>
