<h1>About Epic Standups</h1>
<p>EpicStandups is a tool for running lean, mean standups. It is built from best practices I've learned over my career as a software engineer.</p>
<p>Its currently under active development</p>
<p><a href="https://twitter.com/epicstandups">Follow EpicStandups on Twitter for news and updates</a></p>
{{#link-to 'login'}}Try it free{{/link-to}}
